[submodule "lib\\odeint-v2"]
	path = lib\\odeint-v2
	url = https://github.com/headmyshoulder/odeint-v2.git
[submodule "lib/odeint-v2"]
	path = lib/odeint-v2
	url = https://github.com/headmyshoulder/odeint-v2.git
